.register {
    @include adaptiv-value('margin-bottom', 100, 60, 1);
    @include adaptiv-value('margin-top', 100, 60, 1);
    &__body {
        @include adaptiv-value('height', 300, 220, 1);
        width: 100%;
        display: flex;
        align-items: center;
        @include adaptiv-value('padding', 60, 20, 1);
        @media (max-width: $tablet) {
            flex-direction: column;
            justify-content: center;
            gap: 30px;
        }
        h2 {
            color: #fff;
            flex: 1;
            text-align: center;
            transform: translateX(120px);
            @media (max-width: $tablet) {
                flex: 0;
                transform: translateX(0);
            }
        }
        a {
            max-width: 240px;
        }
    }
}
