<header class="header no-background">
    <div class="header__container flex align-center">
        <h3>404 Not Found</h3>
        
        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="../mentors.html">Mentori</a>
                </li>
                <li>
                    <a href="../prestatori.html">Prestatori acreditați</a>
                </li>
                <li>
                    <a href="../partners.html">Parteneri</a>
                </li>
                <li>
                    <a href="../blog.html">Istorii de succes</a>
                </li>
                <li>
                    <a href="../blog.html">Noutăți și evenimente</a>
                </li>
                <li>
                    <a href="../about.html">About</a>
                </li>
            </ul>
        </nav>
        
        <button type="button" class="burger">
            <span></span>
        </button>
    </div>
</header>
