<footer class="footer">
    <div class="footer__container">
        <div class="footer__disclaimer">
            <p>„Acest material a fost produs cu susținerea Proiectului Proiectul Tehnologiile Viitorului,  finanțat de Agenția Statelor Unite pentru Dezvoltare Internațională (USAID) și Suedia. Conținutul materialului  este responsabilitatea autorului și nu reflectă neapărat opinia USAID, a Guvernelor SUA sau Suediei."</p>
        </div>
        
        <div class="footer__logos">
            <img src="@img/logos/footer-logos.svg" alt="USAID and Sweden Sverige">
        </div>
        
        <div class="footer__socials">
            <a href="#">
                <img src="@img/icons/facebook.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="@img/icons/linkedin.svg" alt="linkedin">
            </a>
        </div>
    </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

