<header class="header">
    <div class="header__container flex align-center">
        <a href="/" class="header__logo">
            <img src="@img/logos/logo.svg" alt="logo">
        </a>
        
        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="../mentors.html">Mentori</a>
                </li>
                <li>
                    <a href="../prestatori.html">Prestatori acreditați</a>
                </li>
                <li>
                    <a href="../partners.html">Parteneri</a>
                </li>
                <li>
                    <a href="../blog.html">Istorii de succes</a>
                </li>
                <li>
                    <a href="../blog.html">Noutăți și evenimente</a>
                </li>
                <li>
                    <a href="../about.html">About</a>
                </li>
            </ul>
        </nav>
        
        <div class="header__languages header-languages">
            <div class="header-languages__current flex">
                <span class="icon-language"></span>
                <span class="language-code">RU</span>
            </div>

            <div class="header-languages__dropdown">
                <a href="#">Romana</a>
                <a href="#">Rusa</a>
            </div>
        </div>

        <button type="button" class="burger">
            <span></span>
        </button>
    </div>
    <div class="mini-header">
        <nav class="mini-header__nav">
            <button data-scroll="who">CINE POATE BENEFICIA?</button>
            <button data-scroll="timeline">CARE SUNT ETEPELE?</button>
            <button data-scroll="apply">CUM APLIC?</button>
            <button data-scroll="mentors">CINE MA AJUTĂ?</button>
        </nav>
        
    </div>
</header>
