<div class="page__logos-slider logos-slider">
    <div class="logos-slider__body">
        <div class="logos-slider__slider">
            <div class="slider-logos__body swiper">
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
                <div class="slider-logos__slide">
                    <img src="@img/logos/partner.png" alt="">
                </div>
            </div>

            <div class="slider-logos-controls">
                <div class="slider-logos-controls__arrows slider-arrows">
                    <button type="button" class="slider-arrow slider-arrow__prev icon-slider__arrow prev"></button>
                    <button type="button" class="slider-arrow slider-arrow__next icon-slider__arrow next"></button>
                </div>
            </div>
        </div>
    </div>
</div>