.not-found {
    height: 100vh;
    display: flex;
    align-items: center;
    &__body {
        @include adaptiv-value('padding-left', 100, 15, 1);
        p {
            @include adaptiv-value('font-size', 24, 16, 1);
            color: $textgray;
            max-width: 650px;
        }
        a {
            @include adaptiv-value('margin-top', 50, 30, 1);
        }
    }
}
