h1 {
    @include adaptiv-value('font-size', 36, 28, 1);
    line-height: 150%;
    text-transform: uppercase;
    span {
        color: $maincolor;
    }
}
h2 {
    @include adaptiv-value('font-size', 32, 24, 1);
    line-height: 150%;
    text-transform: uppercase;
}
h3 {
    @include adaptiv-value('font-size', 24, 20, 1);
    line-height: 140%;
}
h4 {
    @include adaptiv-value('font-size', 20, 18, 1);
    line-height: 140%;
}
h5 {
    font-size: 16px;
    line-height: 140%;
}

p {
    line-height: 150%;
    &.big {
        @include adaptiv-value('font-size', 24, 18, 1);
        line-height: 140%;
    }
}

section {
    @include adaptiv-value('margin-bottom', 100, 50, 1);
}

.with-dot {
    position: relative;
    @include adaptiv-value('padding-left', 28, 24, 1);
    &::before {
        content: '';
        position: absolute;
        @include adaptiv-value('width', 18, 14, 1);
        @include adaptiv-value('height', 18, 14, 1);
        border-radius: 50%;
        background-color: $accentcolor;
        left: 0;
        top: 50%;
        transform: translateY(-65%);
    }
}

.text-white {
    color: #fff;
}

.text-gray {
    color: $disabled;
}

.uppercase {
    text-transform: uppercase;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-weight: 500;
    transition: 0.3s;
    &__light {
        background-color: #fff;
        width: 100%;
        &:hover {
            background-color: darken($color: #fff, $amount: 8);
        }
        &:active {
            background-color: darken($color: #fff, $amount: 12);
        }
    }
    &__dark {
        background-color: #000;
        color: #fff;
        width: 100%;
        max-width: 180px;
        &:hover {
            background-color: lighten($color: #000, $amount: 8);
        }
        &:active {
            background-color: lighten($color: #000, $amount: 12);
        }
    }
    &__filter {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        border-radius: 4px;
        font-weight: 400;
        width: fit-content;
        &:hover {
            border-color: $bluecolor200;
        }
        &--active {
            background-color: #d3e6ff;
            border-color: #d3e6ff;
        }
        &--outline {
            background-color: $graycolor;
            &.active {
                color: $bluecolor200;
                border-color: $bluecolor200;
            }
        }
    }
    &__navigation {
        padding: 15px 30px;
        background-color: $lightcolor200;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
            span {
                transform: translateY(-2px) translateX(-5px);
            }
        }
        &:active {
            background-color: darken($lightcolor200, 5);
        }
        span {
            transition: 0.3s;
            font-size: 24px;
            transform: translateY(-2px);
        }
    }
    &__outline {
        padding: 18px 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &:hover {
            border-color: rgba(0, 0, 0, 0.4);
        }
    }
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: not-allowed;
        user-select: none;
    }
}

.category-label {
    background: $lightcolor200;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    &.glass {
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
    }
}

.burger {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        margin-left: auto;
        position: relative;
        width: 24px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: '';
            transition: all 0.3s ease 0s;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 5px;
        }
        &::before {
            top: 2px;
        }
        &::after {
            bottom: 2px;
        }
        span {
            top: calc(50% - 1px);
        }
        &.active {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(45deg);
                top: calc(50% - 1px);
            }
        }
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-1 {
    grid-column: 1 span;
}
.col-2 {
    grid-column: 2 span;
}
.col-3 {
    grid-column: 3 span;
}
.col-4 {
    grid-column: 4 span;
}
.col-5 {
    grid-column: 5 span;
}
.col-6 {
    grid-column: 6 span;
}
.col-7 {
    grid-column: 7 span;
}
.col-8 {
    grid-column: 8 span;
}
.col-9 {
    grid-column: 9 span;
}
.col-10 {
    grid-column: 10 span;
}
.col-11 {
    grid-column: 11 span;
}
.col-12 {
    grid-column: 12 span;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gap-1 {
    grid-gap: 10px;
}
.gap-2 {
    grid-gap: 20px;
}
.gap-3 {
    @include adaptiv-value('grid-gap', 30, 20, 1);
}
.gap-4 {
    @include adaptiv-value('grid-gap', 40, 20, 1);
}
.gap-5 {
    @include adaptiv-value('grid-gap', 50, 24, 1);
}

.flex-gap-1 {
    gap: 10px;
}
.flex-gap-2 {
    gap: 20px;
}
.flex-gap-3 {
    @include adaptiv-value('gap', 30, 20, 1);
}
.flex-gap-4 {
    @include adaptiv-value('gap', 40, 20, 1);
}
.flex-gap-5 {
    @include adaptiv-value('gap', 50, 24, 1);
}

.align-center {
    align-items: center;
}

.col-md-12 {
    @media (max-width: $mobileMedium) {
        grid-column: 12 span;
    }
}
.col-md-4 {
    @media (max-width: $mobileMedium) {
        grid-column: 4 span !important;
    }
}

.col-sm-12 {
    @media (max-width: $mobileSmall) {
        grid-column: 12 span !important;
    }
}

form {
    label {
        @include adaptiv-value('font-size', 16, 14, 1);
        span {
            color: red;
        }
    }
    input,
    textarea,
    select {
        padding: 15px 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 16px;
        transition: 0.3s;
        display: block;
        width: 100%;
        appearance: none;
        outline: none;
        margin-top: 10px;
        -webkit-appearance: none;
        &:focus {
            border-color: $accentcolor200;
        }
        &::placeholder {
            color: #cfcfcf;
        }
    }

    textarea {
        resize: none;
        height: 100px;
    }
}

.checkbox-symbol {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.checkbox-container {
    box-sizing: border-box;
    background: #ffffff;
    color: #222;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.checkbox-container * {
    box-sizing: border-box;
}

.checkbox-input {
    position: absolute;
    visibility: hidden;
}

.checkbox {
    user-select: none;
    cursor: pointer;
    padding: 1px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    display: flex;
}

.checkbox:not(:last-child) {
    margin-right: 6px;
}

.checkbox span {
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
    position: relative;
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.3s ease;
}

.checkbox span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
    padding-left: 8px;
    line-height: 18px;
    color: $maincolor;
}

.checkbox:hover span:first-child {
    border-color: $maincolor;
}

.checkbox-input:checked + .checkbox span:first-child {
    background: $maincolor;
    border-color: $maincolor;
    animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
    50% {
        transform: scale(0.9);
    }
}

.article {
    position: relative;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &:hover {
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
    }
    a {
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 220px;
            @include adaptiv-value('height', 220, 120, 1);
            @media (max-width: $tablet) {
                height: 260px;
            }
            @media (max-width: $mobileMedium) {
                height: 200px;
            }
            @media (max-width: $mobileSmall) {
                height: 240px;
            }
            object-fit: cover;
        }
    }

    &__content {
        @include adaptiv-value('padding', 20, 12, 1);
        time {
            opacity: 0.6;
            font-size: 14px;
        }
        p {
            margin-top: 10px;
            @include adaptiv-value('font-size', 16, 14, 1);
        }
    }
}

.page-title {
    @include adaptiv-value('margin-top', 100, 60, 1);
    @include adaptiv-value('margin-bottom', 50, 30, 1);
    text-align: center;
    &.full-width {
        @include adaptiv-value('margin-bottom', 100, 60, 1);
        h2 {
            margin-bottom: 30px;
        }
        p {
            max-width: 100%;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    strong {
        text-transform: uppercase;
    }
    h2 {
        display: inline-block;
        margin-bottom: 10px;
    }
    p {
        max-width: 800px;
        margin: 0 auto;
        color: $textgray;
        margin-bottom: 30px;
    }
}

.sort {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-grid {
    &__container {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 20px;
    }
}

.masonry {
    column-count: 4;
    @media (max-width: $tablet) {
        column-count: 3;
    }
    @media (max-width: $mobile) {
        column-count: 2;
    }
    @media (max-width: $mobileSmall) {
        column-count: 1;
    }
    &-item {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}

time {
    display: block;
    font-size: 14px;
    color: #cfcfcf;
    text-transform: uppercase;
}

.tabs__link {
    display: none;
    &--active {
        display: block;
    }
}
